<navtabs page-name="state.pageName"></navtabs>
<div class="paddinglr10">
  <h1>A simple potluck planning app</h1>
  <form ng-submit="addItem()">
    <fieldset>
      <input type="text" placeholder="Add something" size=50 ng-model="state.newItem" />
      <button class="btn btn-primary">Add item</button>
    </fieldset>
  </form>
  <!--<button ng-repeat="category in categories" ng-click="toggleActive(category)" ng-class="{active:category.active}">
  {{category.name}}
  </button>-->
  <button class="btn" ng-click="setAndRetrieveCategory5)">
  Food
  </button>
  <button class="btn" ng-click="setAndRetrieveCategory(10)">
  Beverages
  </button>
  <button class="btn" ng-click="setAndRetrieveCategory(15)">
  Miscellaneous
  </button>
  
  <table class="table">
    <thead>
      <th>Number</th>
      <th>Text</th>
      <th>Like</th>
      <th>Who's bringing it?</th>
    </thead>
    <tbody>
      <tr ng-repeat="item in state.partyList">
        <td>{{ $index + 1 }}</td>
        <td>{{ item.text }}</td>
        <th><button class="btn">Like</button></th>
        <!--{% if item.text=="test" %}
        <th>David</th>
        {% else %}-->
        <th><button class="btn">I'll bring it!</button></th>
        <!--{% endif %}-->
      </tr>
    </tbody>
  </table>
</div>
