{% extends "profile_layout.html" %}
{% block content %}
    <div class="content">
        <h2>Some of my favorite quotes</h2>
        <h3>Top 5 of the Moment</h3>
        <p>You are who you choose to be.<br>
        - Iron Giant</p>
        <p>Whether you think you can, or think you can't, you're right. <br>
        - Henry Ford </p>
        <p>I want to change the world and have one hell of a good time doing it. <br>
        -adapted from E.B. White quote. </p>
        <p>Life isn’t about finding yourself. Life is about creating yourself. <br>
        - George Bernard Shaw </p>
        <p>The best time to become good at something is before you have to be good at it. </p>
        <h3>Dedication</h3>
        <p> When you have the enthusiasm and the passion, you end up figuring how to excel. <br> 
        - Deena Kastor </p>
        <p> The highest compliment that you can pay me is to say that I worked hard every day. <br>
        - Wayne Gretsky </p>
        <p> It takes 10,000 hours to develop talent. How many hours have you clocked today? <br>
        - Celestine Chua </p>
        <h3>Humorous</h3>
        <p>What the world needs is more geniuses with humility. There are so few of us left. <br>
        - Oscar Levant</p>
        <p>I am not a vegetarian because I love animals. I’m a vegetarian because I hate plants. <br>
        - A. Whitney Brown </p>
        <p>To save time, let’s just assume I know everything. <br>
        - Neil Strauss </p>
        <p> Never say you don't know - nod wisely, leave calmly, then run like hell to find the nearest expert. <br> - S. M. Oddo </p>
        <h3>Leadership</h3>
        <p>If you want to build a ship, don’t drum up people to collect the wood and don’t assign them tasks and work, but rather teach them to long for the immensity of the sea. <br>
        - Antoine De Saint-Exupery</p>
        <p>Men are governed only by serving them; the rule is without exception. <br>
        - V. Cousin</p>
        <h3>Limits of Human Ability</h3>
        <p> The greater danger for most of us lies not in setting our aim too high and falling short; but in setting our aim too low, and achieving our mark. <br>
        - Michelangelo Buonarroti </p>
        <p> Never doubt that a small group of thoughtful committed citizens can change the world; indeed, it is the only thing that ever has. </br>
        - Margaret Mead </p>
        <h3>Mindset</h3>
        <p> It’s never too late to be who you might have been. <br>
        - George Eliot</p>
        <p>The self is not something ready-made, but something in continuous formation through choice of action.</br>
        - John Dewey</p>
        <p>I know quite certainly that I myself have no special talent. Curiosity, obsession and dogged endurance, combined with self-criticism, have brought me to my ideas. <br>
        - Albert Einstein</p>
        <p>If you would not be forgotten as soon as you are dead, either write things worth reading or do things worth writing.<br>
        - Benjamin Franklin</p>
    </div>
{% endblock %}
{% block quote %}
    <h3>The wisdom of the wise, and the experience of ages, may be preserved by quotation.</h3>
    <h4>- Isaac D'Israeli</h4>
{% endblock %}