{% extends "profile_layout.html" %}
{% block content %}
    <div class="content">
        <h2>Welcome to David Payne's Profile</h2>
        <img class="profile_picture" src="static/img/david_payne.jpg">
        <p>
            David is driven by a desire to have a positive, tangible, and sustainable impact on the world around him. He is very interested in emerging technologies, the public service sector, as well as the psychology of skill acquisition and performance. Those interests and goals have led him to work as an experience design researcher at Hewlett-Packard, volunteer with Habitat for Humanity and Engineers Without Borders, and lead multiple initiatives and organizations while at Rice University. He is currently in the Management Consulting Development Program at Accenture.
        </p>
        <p>
            While not working, he is always trying to learn something new and occasionally decides to put his body through long-distance races.
        </p>
    </div>
{% endblock %}
{% block quote %}
        <h3>I want to change the world and have one hell of a good time doing it.</h3>
        <h4>- adapted from E.B. White quote</h4>
{% endblock %}